<mtapp:setting
    id="synced_theme_link_template"
    label="<__trans phrase="Link Template">"
    hint="<__trans phrase="Link all the template to the files of theme directory.">"
    show_hint="1"
    show_warning="1">
    <input type="checkbox" id="synced_theme_link_template" name="synced_theme_link_template" value="1"<mt:IfSyncedThemeLinkTemplate> checked="checked"</mt:IfSyncedThemeLinkTemplate>/>
</mtapp:setting>
