<mtapp:setting
    id="synced_theme_link_template"
    label="<__trans phrase="Link Template">"
    hint="<__trans phrase="Link all the template to the files of theme directory.">"
    show_label="0"
    show_hint="1"
    show_warning="1"
    label_class="top-label">
    <div class="field-header">
        <label>
            <input type="checkbox" id="synced_theme_link_template" name="synced_theme_link_template" value="1"<mt:IfSyncedThemeLinkTemplate> checked="checked"</mt:IfSyncedThemeLinkTemplate>/>
            <__trans phrase="Link Template">
        </label>
    </div>
</mtapp:setting>
